# GitHub action to check Github for verified users only.
# https://github.com/marketplace/actions/trufflehog-oss

name: Scanning for Secrets

on: [pull_request]

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: ${{ format('actions/checkout@{0}', GITHUB_HEAD_REF) }}
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          extra_args: --no-verification --debug
