# GitHub action to check Github for verified users only.
# https://github.com/marketplace/actions/trufflehog-oss

name: Scanning for Secrets

on: [pull_request]

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Branch name
        run: echo running on branch ${GITHUB_REF##*/}
      - name: Branch name 2
        run: echo running on branch ${github.head_ref}
      - name: Branch name 3
        run: echo running on branch ${GITHUB_REF_NAME}
      - name: Checkout code
        uses: actions/checkout@${GITHUB_REF_NAME}
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          extra_args: --no-verification --debug
